<div class="config">
    <h1>Configurações do Sistema</h1>

    <AppBoxView>
    <!-- <div> -->
        <AppTextField id="nome" title="Nome"></AppTextField>
        <AppTextField id="idade" title="Idade"></AppTextField>
        <AppTextField id="peso" title="Peso"></AppTextField>
        <AppTextField id="altura" title="Altura"></AppTextField>
        <AppTitleValueView title="CPF" :value="cpf"></AppTitleValueView>
        <AppTitleValueView title="E-mail" value="teste@teste.com"></AppTitleValueView>
    <!-- </div> -->
        <button class="dark">Enviar dados para o banco</button>
        <button class="dark__outlined">Enviar dados para o banco</button>
    </AppBoxView>
    <div>
        <button class="light">Enviar dados para o banco</button>
        <button class="light__outlined">Enviar dados para o banco</button>
    </div>
</div>